html {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: white;
}

#foto1{
    margin: 0 auto;
    border: 30px solid white;
    border-radius: 500px;
}